body {
  margin: 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

h1 {
  word-spacing: 20px;
  text-transform: capitalize;
  text-align: center;
}

p {
  line-height: 28px;
}

span {
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 80%;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

em {
  color: grey;
}
