html {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

selection {
  margin: 32px;
}

h1 {
  word-spacing: 20px;
  text-transform: uppercase;
  text-align: center;
}

p {
  line-height: 28px;
}

.main-word {
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 24px;
  opacity: 0.8;
  text-decoration: underline;
}

a {
  text-decoration: none;
}

.foreign {
  color: grey;
}
