body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  font-size: 74px;
  width: 50%;

  text-overflow: ellipsis;
}

.main {
  height: 200px;
  background-color: coral;
  color: white;
  text-transform: uppercase;
  text-align: center;
  line-height: 200px;
}
